@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

body {
  @apply bg-cream text-secondary font-sans antialiased;
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: white;
    color: black;
  }
}
